# Environments (סביבות עבודה של שניכם)
.env
venv/
env/
.venv/

# Database (מסד הנתונים המקומי - לא עולה לגיט)
db.sqlite3

# Python & Django Caches (קבצים זמניים והחרא שראינו קודם)
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class
*.pyc

# Static and Media (קבצים שהמשתמשים מעלים - עוברים ל-AWS או נשארים מקומיים)
staticfiles/
media/

# IDEs (הגדרות של PyCharm ו-VSCode כדי שלא יתנגשו לכם)
.idea/
.vscode/
*.iml

# OS and Log files
.DS_Store
*.log


# Ignore the mission file
mission.json
# Ignore any worktree folders
*.worktrees/
.github/
.githooks/
